name: Prettier

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  Prettier:
    runs-on: ubuntu-24.04

    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Run Prettier
        working-directory: ${{ github.workspace }}/cloudflare
        run: npx prettier --check .
